<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <button ion-button (click)="takePhoto()">Take a Photo</button>

    <label for="file">File:</label>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    <progress max="100" [value]="(uploadProgress | async)"></progress>
    
  </ion-content> -->



<ion-header>
  <ion-navbar>
    <ion-title>My Stuff</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let label of items">{{label.description}}</ion-item>

  <!-- <ion-card *ngFor="let item of items | async">
      <img [src]="'data:image/png;base64,' + item.imageData"/>
      <ion-card-content>
        <ion-list no-lines>
          <ion-list-header>Labels</ion-list-header>
          <ion-item *ngFor="let label of items.responses[0].labelAnnotations">{{label.description}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card> -->
  <ion-fab bottom right>
    <button ion-fab (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
</ion-content>